.logo {
    width: 10%;
    margin: 32px auto;
    & > img{
        width: 100%;
    }
}

.title {
    font-size: 20px;
    margin: 16px 0 32px 0;
}

form{
    padding-right: 0.6rem;
}

.recover-password {
    font-size: 13px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.forgot-password {
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 16px
}